body {
  font-family: "Poppins", sans-serif !important;
  background-color: rgba(191, 191, 226, 0.438);
}
.nav,
footer {
  background-color: rgb(26, 26, 122);
}
.color1 {
  color: rgb(37, 197, 197) !important;
}
.color2 {
  color: darkmagenta;
}
.color3 {
  background-color: gray;
}
.inputGroup {
  width: 80%;
}
